body {
  width: 100%;
}

div.header {
  background-color: red;
}

div#content {
  margin: 0px auto auto;
  width: 500px;
  height: 500px;
}

div.footer {
  background-color: green;
  position: absolute;
  bottom: 0;
}

div.button {
  background-color: yellow;
  width: 100%;
  margin: 16px 0px;
  display: block;
}

button {
  display: block;
  margin: auto auto;
}

.rows {
  line-height: 0;
}
